.switch_comics {
    /*background: #dda0df;*/
    background: linear-gradient(45deg, #ff8c00, #C71585);
    width: 19rem;
    height: 8rem;
    border-color: black;
    border-radius: 40px;
    cursor: pointer;
}

.switch_comics a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    cursor: pointer;
}

.switch_comics:hover {
    opacity: 70%;
    background: linear-gradient(45deg, #C71585, #ff8c00);
}

.switch_comics:hover a {
    opacity: 70%;
}