body {
    font-family: "Comic Sans MS", serif;
}

main {
    width: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

input, button {
    border-radius: 32px;
}

input {
    padding: 12px 2rem;
    width: 15rem;
    height: 1em;
}

button {
    height: 3rem;
    border-color: transparent;
    width: 5rem;
}