h1 {
    font-size: 5rem;
}

.headers {
    margin-top: -2rem;

    h2 {
        position: relative;
        top: -3rem;
        left: 0.5rem;
        font-size: 3rem;
    }
}

.pink {
    color: #dda0dd;
}

.black {
    background-color: black;
}

.typing {
    white-space: pre-wrap;
    font-size: 20px;

    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

#typing_text_stack {
    background-color: black;
    color: #fff;
    padding-left: 0.5rem;
    padding-top: 2.5rem;
}

#typing_text_greeting {
    order: 0;
    background-color: #fff;
    color: black;
    padding-top: 1rem;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin-top: -3rem;

    h2 {
        margin-top: -2rem;
    }
}

.projects .projects_gallery {
    width: 100%;
    height: 44rem;
    background: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 2rem 3rem;
}

.rightMover {
    rotate: 180deg;
}

.moveRight,
.moveLeft {
    background: transparent;
    border-color: transparent;
}

.gallery_scroller {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    margin-top: -2rem;

    .gallery_arrows {
        order: 1;
    }

    .gallery_pointer {
        order: 2;
    }
}

.gallery {
    width: 100%;
    min-height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    padding-top: 1rem;

    h2, p {
        color: white;
    }

    h2 {
        font-size: 3rem;
    }

    p {
        font-size: 1.5em;
        text-align: center;
    }

    a {
        color: #D2691E;
    }
}

.gallery_heads {
    width: 100%;
    text-align: center;
}

#convertor {
    width: 350px;
}

.gallery_desc_stack {
    /*font-weight: bolder;*/
    color: #4169E1;
}

.gallery_heads .gallery_header:not(:first-child),
.gallery_pictures .gallery_img:not(:first-child),
.gallery_desc .gallery_para:not(:first-child) {
    display: none;
}

.switch_comics {
    /*background: #dda0df;*/
    background: linear-gradient(45deg, #ff8c00, #C71585);
    width: 19rem;
    height: 8rem;
    border-color: black;
    border-radius: 40px;
    cursor: pointer;

    a {
        text-decoration: none;
        font-size: 20px;
        color: black;
        cursor: pointer;
    }
}

.switch_comics:hover {
    opacity: 70%;
    background: linear-gradient(45deg, #C71585, #ff8c00);

    a {
        opacity: 70%;
    }
}