main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.comics_content {
    min-width: 90vw;
    min-height: 100vh;
}

.comic {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: inherit;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.comic:hover {
    border: 1px solid #000;
    background: linear-gradient(45deg, #9932CC, #ff8c00);
    /*background: linear-gradient(45deg, #C71585, #ff8c00);*/
}

.comic img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.comic h2 {
    font-size: 24px;
    margin: 10px 0;
}

.comic time {
    font-size: 20px;
    color: #000000;
}

.comic p {
    display: flex;
    align-items: center;
    flex-direction: column;
}
