.greeting_cont {
  display: flex;
  flex-direction: column;
  /*margin-top: -6rem;*/
  background-color: white;

  .hidden {
    display: none;
    margin: 10px;
  }

  .typing_img {
    order: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: inherit;
    height: 10rem;
    .li7 {
      width: 70px;
    }

    .iu {
      width: 84px;
    }
  }
}

.typing_text_greeting {
  order: 0;
  background-color: #fff;
  color: black;
  padding-top: 2rem;
}
