.home {
  .h1 {
    font-size: 5rem;
  }

  .type {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
  }

  .headers {
    /*margin-top: -2rem;*/

    .h2 {
      position: relative;
      top: -3rem;
      left: 0.5rem;
      font-size: 3rem;
    }
  }
}
