.typing_container {
    width: 35%;
    height: 50%;
    min-height: 25rem;
    /*margin-bottom: 4rem;*/
    padding: 20px;
    /* margin-top: -2rem; */
}

.container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}